<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminDashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


    @* Add the Kendo UI styles: *@
    <link href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.default-v2.min.css" rel="stylesheet" type="text/css" />

    @* Add the Kendo UI scripts: *@
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>
    <kendo-drawer name="drawer" mode="push" width="240" position="left" template-id="drawerTemplate" navigatable="true">
        <mini enabled="false" />
        <content>
            <div>
                <main role="main">
                    <kendo-appbar name="appbar" theme-color="AppBarThemeColor.Inherit">
                        <items>
                            <appbar-item type="AppBarItemType.ContentItem" template="<span id='menuIcon' href='\\#'><span class='k-icon k-i-menu'></span></span>"></appbar-item>
                            <appbar-item type="AppBarItemType.Spacer" width="16px"></appbar-item>
                            <appbar-item type="AppBarItemType.ContentItem" template="<h3 class='title'>@ViewData["Title"]</h3>"></appbar-item>
                            <appbar-item type="AppBarItemType.Spacer"></appbar-item>
                            <appbar-item type="AppBarItemType.ContentItem" template="<a style='color:black;' href='\\#'><span class='k-icon k-i-notification'><span data-role='badge' class='k-badge k-badge-solid k-badge-error k-badge-md k-badge-dot k-badge-outside k-top-end'></span></span></a>"></appbar-item>
                            <appbar-item type="AppBarItemType.Spacer" width="8px"></appbar-item>
                            <appbar-item type="AppBarItemType.ContentItem" template="<a href='\\#'>About<a/>"></appbar-item>
                            @{ if ((string)ViewData["Title"] != "Dashboard")
                                {
                                    <appbar-item type="AppBarItemType.ContentItem" template="<a href='\\#'>Contacts<a/>"></appbar-item>
                                }
                            }
                        </items>
                    </kendo-appbar>
                    @RenderBody()
                </main>
            </div>
        </content>
    </kendo-drawer>
    <script id="drawerTemplate" type="text/html">
        <div class="k-d-flex-col k-align-items-center k-justify-content-evenly" style="height:218px;">
            <div class="k-avatar k-avatar-circle k-avatar-image k-avatar-lg" id="avatar"><img src='../assets/navigation/Avatar.svg' /></div>
            <div id="name">FullName</div>
            <div id="email">email@email.com</div>

            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="k-button k-secondary k-state-active">Logout</button>
            </form>
        </div>
        <ul>
            <li><a data-role='drawer-item' asp-page="Index"><span class="k-icon k-i-grid "></span>Dashboard</a></li>
            <li><a data-role='drawer-item' asp-page="Performance"><span class="k-icon k-i-globe"></span>Performance and Sales</a></li>
            <li><a data-role='drawer-item' asp-page="Products"><span class="k-icon k-i-aggregate-fields"></span>Products</a></li>
            <li data-role='drawer-separator'></li>
            <li><a data-role='drawer-item' asp-page="Settings"><span class="k-icon k-i-gear"></span>Settings</a></li>
        </ul>
    </script>

    <style>
        #name {
            font-weight: bold;
            font-size: 14px;
        }

        #email {
            font-size: 12px;
            text-decoration-line: underline;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#menuIcon").click(function () {
                $("#drawer").getKendoDrawer().show();
            })
        })
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
