@page
@model AdminDashboard.Pages.ProductsModel
@{ 
    ViewData["Title"] = "Products";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()


<script id="revenue-rating-template" type="text/html">
    <kendo-chart name="revenue-rating-chart" is-in-client-template="true" theme="sass">
        <chart-title text="Revenue per Product Type" position="ChartTitlePosition.Top" align="ChartTextAlignment.Left"></chart-title>
        <chart-legend visible="true" position="ChartLegendPosition.Bottom">
            <labels>
                <chart-legend-labels-margin right="200" />
            </labels>
        </chart-legend>
        <series-defaults type="ChartSeriesType.Bubble"></series-defaults>
        <datasource>
            <transport>
                <read url="@Url.Page("Products","PerformanceData")" data="forgeryToken" type="POST" />
            </transport>
            <schema>
                <model>
                    <fields>
                        <field name="Product" type="string"></field>
                        <field name="Region" type="string"></field>
                        <field name="Amount" type="number"></field>
                    </fields>
                </model>
            </schema>
            <groups>
                <group field="Region"></group>
            </groups>
        </datasource>
        <y-axis>
            <y-axis-item>
                <labels format="{0:n}"></labels>
            </y-axis-item>
        </y-axis>
        <x-axis>
            <x-axis-item>
                <labels format="{0:c}"></labels>
            </x-axis-item>
        </x-axis>
        <series>
            <series-item x-field="Amount" y-field="SalesCount" size-field="Rate" category-field="Product">
            </series-item>
        </series>
        <tooltip visible="true" template="\\#=dataItem.Region\\# : \\#=dataItem.Product\\# Sales : \\#=kendo.toString(dataItem.Amount,'c')\\#"></tooltip>

    </kendo-chart>
</script>

<script type="text/html" id="cardTemplate">
    <div class="k-card" style="width:260px; height:340px;">
        <img class="k-card-image" src="@Url.Content("~/assets/products/")#= (ProductID % 9) + 1 #.png" />
        <div>
            <div class="k-card-body">
                <div class="k-card-title">#= Title #</div>
                <div class="k-card-subtitle">#= Description #</div>
            </div>
        </div>
        <div class="k-card-footer">
            <div class="k-d-flex-col k-align-items-center">
                <span>
                    <span class="k-button k-flat"><span class="k-icon k-i-preview"></span>Review</span>
                </span>
                <span>
                    <span class="k-button k-flat k-primary"><span class="k-icon k-i-edit"></span>Edit</span>
                </span>
            </div>
        </div>
    </div>
</script>

<script id="products-template" type="text/html" style="background-color: #FAFAFA">
    <div class="k-d-flex-row k-justify-content-center k-align-content-center" style="margin-bottom:45px;">
        <kendo-textbox name="searchs" placeholder="Product Search" is-in-client-template="true" style="width:40%;"></kendo-textbox>
    </div>
    <div style="height:100%;">
        <div id="listView"></div>
        <div id="pager"></div>
    </div>

</script>



<kendo-tilelayout name="tilelayout" columns="1" resizable="true" reorderable="true" columns-width="1200px" rows-height="420px" on-resize="onTileResize">
    <containers>
        <container body-template-id="revenue-rating-template" col-span="1" row-span="1">
        </container>
        <container body-template-id="products-template" col-span="1" row-span="3">
        </container>
    </containers>
</kendo-tilelayout>

<style>
    #listView > .k-listview-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    .k-card-image {
        width: 100%;
        height: 111px;
    }

    .k-card-title {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
    }

    .k-card-subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }

    .k-tilelayout-item.k-card:nth-child(2) {
        border: none;
        background: inherit;
    }

    .k-listview {
        background: inherit;
        border: none;
    }
</style>
<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }
    function onTileResize(e) {
        // for widgets that do not auto resize
        // https://docs.telerik.com/kendo-ui/styles-and-layout/using-kendo-in-responsive-web-pages
        kendo.resize(e.container, true);
    }
    $(document).ready(function () {
        //e.sender.resize();
        $("#revenue-rating-chart").getKendoChart().resize()

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Page("Products","Products")",
                    type: "POST",
                    data:forgeryToken,
                    dataType: "json"
                }
            },
            pageSize: 12
        });

        $("#pager").kendoPager({
            dataSource: dataSource,
            buttonCount:5,
            input: true,
            refresh:true,
        });

        $("#listView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#cardTemplate").html())
        });
    })
</script>
