@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<main class="sign-in-page">
    <div class="sign-in-layout">
        <div class="signin-container">
            @RenderBody()
        </div>
    </div>
    <div class="slogan">
        <div class="slogan-container">
            <div class="kendoka">
                <img src="./assets/signin/bgr-image.svg" />
                <img style="position:absolute; max-width:500px; left:50%; bottom:10%;"  src="./assets/signin/kendoka.svg" />
            </div>
            <div class="title">How Does Telerik UI Cut Development Time?</div>
            <div class="subtitle">Telerik UI delivers everything you need to build modern, beautiful, responsive apps.</div>
        </div>
    </div>
</main>

<style>
    .sign-in-page{
        position: relative;
        height: 100vh;
        display: flex;
        background: linear-gradient(16.66deg, #070B46 45.27%, #2D2DD3 100%);
    }
    .sign-in-layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        max-width: 560px;
        min-width: 400px;
        width: 39%;
        z-index: 1;
        background: #FFFFFF;
    }
    .sign-in-container{
        background-color:white;
        width:61%;
    }
    .slogan{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 61%;
        max-width: 542px;
        margin: 0 auto;
    }
    .slogan-container{
        margin-top:5vh;
    }

    .kendoka {
        position: absolute;
        bottom: 0;
        left:0;
        width:100%;
        max-height:90%;
    }

    .kendoka img {
        width: 100%; 
        height: auto;
    }
    .title {
        font-weight: 700;
        font-size: 48px;
        line-height: 67px;
        color: #FFFFFF;
        text-align: center;
    }

    .subtitle {
        font-weight: 400;
        font-size: 19px;
        color: #FFFFFF;
        line-height: 25px;
        text-align: center;
    }

    @@media screen and (max-width: 767px) {
      .slogan{
          display:none;
      }
      .sign-in-layout{
          width:100%;
          height:100%;
      }
    }
</style>